html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 1;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

p{
  color: black;
}

main{
  padding-bottom: 4em;
}

header{
  background-image: url('assets/flower-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav{
  z-index: 3;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: #b3babd;
  top: 0;
  overflow-x: hidden; 
  overflow-y: hidden;
  transition: 0.5s;
  width: 0;
}

nav li{
  list-style-type: none;
  height: 100%;
  padding: 1em;
  padding-right: 2em;
  transition: 0.3s;
}

nav ul{
  margin: 2em 5em 2em 3.5em;
  padding: 0;
}

.menuButton{
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0.5em;
}

.menuButton div{
  width: 2.5em;
  height: 5px;
  background-color: white;
  margin: 0.5em 0;
}

nav a{
  color: black;
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  opacity: 1;
}

nav a:hover{
  opacity: 0.5;
  transition: 0.3s;
}

.homeHeader h1{
  position: absolute;
  bottom: 0;
  font-size: 5em;
  margin: 1em 1em;
  color: white;
  text-shadow: 2px 2px 5px #66748a;
  font-family: Arial, sans-serif;
}

#closeNavbutton{
  background-color: black;
  border: none;
  width: 33.328px;
  height: 5px;
  margin: 26.668px 0px 0px 12.667px;
  padding: 0;
  opacity: 1;
}

#closeNavbutton:hover{
  opacity: 0.5;
}

#closeNavcontainer{
  border: none;
  background-color: transparent;
  padding: 0;
  
}

#aboutMe, .homeConveyor{
  text-align: center;
  padding: 5em 0em;
}

#aboutMe p{
  width: 60%;
  font-family: Poppins, sans-serif;
  margin: auto;
  text-align: justify;
  font-size: 1.5em;
}

h2{
  font-size: 3em;
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

.homeConveyoritem{
  display: inline-block;
  width: 20%;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
}

.homeConveyor{
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 3em;
}

.homeConveyor img{
  width: 100%;
  max-height: 190px;
  overflow: hidden;
}

.homeConveyordesc{
  width: 100%;
  margin: 0;
  padding: 10px 0px;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: Helvetica, serif;
  color: #686b73;
  height: 100%;
  opacity: 1;
  background: rgba(176, 167, 155, 0.5);
}

.homeConveyordesc h3{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

footer{
  width: 100%;
  background-color: #405569;
  height: 5em;
}

#projectsMenubutton div{
  background-color: #405569;
}

.projectsMain{
  margin-top: 5em;
}

.projectsMain h1{
  text-align: center;
  font-size: 6em;
}

.projectDesc{
  width: 40%;
  display: inline-block;
  padding: 0em 2em;
}

.projectDesc p{
  display: inline-block;
  font-family: Poppins, sans-serif;
}

.projectDesc h3{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
}

.projectItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 1em;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
}

.projectItem img{
  width: 35%;
  display: inline-block;
  padding: 0em 3em;
  vertical-align: middle;
  overflow: hidden;
}